<style>
* {
  box-sizing: border-box; 
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: helvetica;
  text-align: center;
}
h1{
  Text-align: center;
  font-size: 180%;
}
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
}
#main > nav, 
#main > aside {
  flex: 0 0 20vw;
  background: #837E7C;
  color: #2c3539;
}
#main > nav {
  order: -1;
  text-align: left;
  bbackground: #837E7C;
  color: #2c3539;
}
header, footer {
  font-size: 200%;
  font-weight: bold;
  font-family: helvetica;
  color: white;
  background-image: url('Imagination.png');
  height: 20vh;
}
header, footer, article, nav, aside {
  padding: 1em;
}
#display {
  font-size: 160%;
  
}
</style>
