body {
background-color: #E1EEEA;
color:black ;
font-size: medium;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
color: #363F31;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
color: #D7873B;
}
